body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

h5 {
    text-align: left;
    font-weight: lighter;
}

.line {
    display: flex;
}

section {
    margin-bottom: 100px;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half {
    width: 50%;
    padding: 20px;
}

.half img {
    width: 100%;
}

.orange {
    color: orange;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.shadow {
    box-shadow: 10px 10px 40px rgb(108, 105, 105);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 15%;
    text-align: left;

}

#baby {
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid blue;

}

#full {
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid orange;
}

.expe {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#foot {
    text-align: center;
}